name: release
on:
  push:
    tags:
    - "v[0-9]+.[0-9]+.[0-9]+"
permissions:
  contents: write
  packages: write
jobs:
  release:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - name: checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        persist-credentials: false
    - uses: ./.github/actions/release
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
