name: test
on:
  pull_request:
    branches:
    - "**"
  push:
    branches:
    - main
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macOS-latest
        - windows-latest
    steps:
    - name: checkout
      uses: actions/checkout@v5
    - name: setup go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    - name: test
      run: go test -coverprofile coverage.out -covermode atomic ./...
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
    - name: Send coverage
      uses: codecov/codecov-action@v5
