name: test
on:
  pull_request:
    branches:
    - "**"
  push:
    branches:
    - main
permissions:
  contents: read
  pull-requests: read
jobs:
  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 5
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest
        - macOS-latest
        - windows-latest
    steps:
    - name: checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: setup go
      uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
      with:
        go-version-file: go.mod
    - name: test
      run: |
        # avoid 'no such tool "covdata"' error
        go env -w GOTOOLCHAIN=go1.25.0+auto
        go test -coverprofile coverage.out -covermode atomic ./...
      env:
        GITHUB_TOKEN: ${{ secrets.github_token }}
    - name: Send coverage
      uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
